body{
    background-color: #191D21;
    height: 100vh;
    margin: 0;
    display:flex; 
    flex-direction:column; 
}

body *, .game_text{
    color: #A3F7BF;
    font-family: 'Red Hat Display', sans-serif;
}

.game_content_flexbox{
    width: 100%;
}

.game_text_small{
    color: #A3F7BF;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.25em;
}

.game_text_medium{
    color: #A3F7BF;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.5em;
}

.game_text_large{
    color: #A3F7BF;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1.7em;
}

.game_left_content{
    width: 30vw;
    height: auto;
    /* outline: 5px solid white; */
}

.game_right_content{
    width: 70vw;
    height: auto;
    /* outline: 5px solid white;  */
}

.game_img{
    width: 25vw;
    margin-left: 3vw;
}

.game_name{
    margin-left: 3vw;
    margin: 3vh 0 3vh 3vw;
}


